<!-- BEGIN rls -->
<li class="user-item" id="item">
  <div class="stream-content">
    <p class="item-message">{:recname}</p>  
    <div id="contentlist">
      <form>
        <>
      </form>
    </div>           
    <div class="stream-item-footer">
      <div class="item-actions">
        <!-- IF top.userInfo.uid == top.loginInfo.uid -->
        <a><span class="web-icon icon-fav"></span>edit</a>
        <a><span class="web-icon icon-trash"></span>delete</a>
        <!-- ENDIF -->
        <a>view</a>
      </div>
      <span class="point">•</span>
      <a>{:posttime}</a>
      <span class="point">•</span>
    </div>
  </div>
</li>
<!-- END -->
